<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">

<head>
    <th:block th:replace="~{fragments/head :: head(title='Produto ' + ${product.name} + ' | CoreControl')}">
    </th:block>
    <link rel="stylesheet" th:href="@{/css/product.css}">
</head>

<body style="gap:1.5rem">
    <th:block th:replace=" ~{fragments/header :: header}">
    </th:block>
    <main style="flex:1;">
        <div class="container">
            <div class="product-title-container">
                <h2 th:text="${product.name}"></h2>
            </div>
            <div class="product-container grid">
                <div class="product-info-container flex column">
                    <div class="product-img-container">
                        <img src="https://placehold.co/600x400/orange/white" alt="Product image">
                    </div>
                    <div class="info-container flex column">
                        <div class="product-info-header flex">
                            <h3>Product Info</h3>
                            <span class="edit-product-btn">
                                <!-- TODO link to edit form -->
                                <a href="#"><i class="fa-solid fa-pen-to-square"></i></a>
                            </span>
                        </div>
                        <div class="info-row">
                            <span>Id:</span>
                            <span th:text="${product.id}">1</span>
                        </div>
                        <div class="info-row">
                            <span>Nome:</span>
                            <span th:text="${product.name}">Produto 1</span>
                        </div>
                        <div class="info-row">
                            <span>Preço:</span>
                            <span th:text="${product.cost}">R$ 10,00</span>
                        </div>
                        <div class="info-row">
                            <span>Selling price:</span>
                            <span th:text="${product.price}">R$ 13,00</span>
                        </div>
                        <div class="info-row">
                            <span>profit (&percnt;):</span>
                            <span th:text="${product.profit}">30</span>
                        </div>
                        <div class="info-row">
                            <span>Discount (&percnt;):</span>
                            <span th:text="${product.discount}">0%</span>
                        </div>
                    </div>
                </div>
                <div class="storage-info-container flex column">
                    <h3>Storage control</h3>
                    <div class="storage-info-row">
                        <div class="storage-info">
                            <span>Available Amt:</span>
                            <span th:text="${product.stock}">10</span>
                        </div>
                        <div class="storage-info">
                            <span>Min. Amt:</span>
                            <span th:text="${product.minStock}">5</span>
                        </div>
                        <div class="storage-info">
                            <span>Max. Amt:</span>
                            <span th:text="${product.maxStock}">120</span>
                        </div>

                    </div>
                    <div class="storage-info-row">
                        <button id="add-discount-btn" class="btn">Add discount</button>
                        <button id="remove-discount-btn" class="btn">Remove discount</button>
                        <button id="buy-product-btn" class="btn">Buy more</button>
                        <button id="delete-product-btn" class="btn">Delete</button>
                    </div>
                </div>
                <div class="product-movement-info-container">
                    <div class="wrapper-90 flex column gap-1 align-flex-start">
                        <h3>Movement history</h3>
                        <div class="movement-info-table flex column">
                            <div class="table-header">
                                <div class="table-cell">Type</div>
                                <div class="table-cell">Amount</div>
                                <div class="table-cell">Date</div>
                                <div class="table-cell">User</div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell">Sale</div>
                                <div class="table-cell">10</div>
                                <div class="table-cell">10/05/2024</div>
                                <div class="table-cell">1</div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell">Edit (Discount+)</div>
                                <div class="table-cell">0</div>
                                <div class="table-cell">09/05/2024 - HH-MM-SS</div>
                                <div class="table-cell">3</div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell">Purchase</div>
                                <div class="table-cell">30</div>
                                <div class="table-cell">08/05/2024</div>
                                <div class="table-cell">2</div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell">Edit (Discount-)</div>
                                <div class="table-cell">0</div>
                                <div class="table-cell">06/05/2024</div>
                                <div class="table-cell">2</div>
                            </div>
                        </div>
                        <div class="movement-table-btn-container">
                            <button id="download-product-history" class="btn">Download history</button>
                        </div>
                    </div>
                </div>
            </div>
    </main>
    <th:block th:replace=" ~{fragments/footer :: footer(teste='teste' )}">
    </th:block>
    <script th:src="@{/js/app.js}"></script>
</body>

</html>