<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">

<head>
    <th:block th:replace="~{fragments/head :: head(title='Novo produto | CoreControl')}"></th:block>
</head>

<body>
    <th:block th:replace="~{fragments/header :: header}"></th:block>
    <main>
        <div class="form-container">
            <form th:action="@{/produtos/salvar}" th:object="${product}" method="post" class="flex column"
                id="product-form">
                <div class="form-row">
                    <div class="input-container flex column">
                        <label for="nome">Nome do produto</label>
                        <input type="text" th:field="*{name}" id="nome" name="name" pattern="[a-zA-Z\s]{3,}" required />
                    </div>
                </div>
                <div class="form-row">
                    <div class="input-container flex column">
                        <label for="minStock">Qtd. mínima de estoque</label>
                        <input type="number" th:field="*{minStock}" id="minStock" name="minStock" min="1" required />
                    </div>
                    <div class="input-container flex column">
                        <label for="maxStock">Qtd. máxima de estoque</label>
                        <input type="number" th:field="*{maxStock}" id="maxStock" name="maxStock" required />
                    </div>
                </div>
                <div class="form-row">
                    <div class="input-container flex column">
                        <label for="category">Categoria</label>
                        <select id="category" th:field="*{category}" name="category" required>
                            <option value="" disabled selected>Selecione uma categoria</option>
                            <option value="Categoria 1">Categoria 1</option>
                            <option value="Categoria 2">Categoria 2</option>
                            <option value="Categoria 3">Categoria 3</option>
                        </select>
                    </div>
                    <div class="input-container flex column">
                        <label for="cost">Preço de custo (R&dollar;)</label>
                        <input type="number" th:field="*{cost}" step="0.1" id="cost" name="cost" value="0.00"
                            required />
                    </div>
                    <div class="input-container flex column">
                        <label for="profit">Lucro (&percnt;)</label>
                        <input type="number" th:field="*{profit}" id="profit" name="profit" min="0" value="0"
                            required />
                    </div>
                </div>
                <div class="form-row">
                    <div class="input-container flex column">
                        <label for="unitMeasure">Un. Medida</label>
                        <select id="unitMeasure" th:field="*{unitMeasure}" name="unitMeasure" required>
                            <option value="" disabled selected>Selecione uma unidade</option>
                            <option value="unidade">Unidade</option>
                            <option value="Kg">Kg</option>
                            <option value="Litro">Litro</option>
                        </select>
                    </div>
                    <div class="input-container flex column">
                        <label for="unit">Medida</label>
                        <input type="number" th:field="*{unit}" id="unit" name="unit" value="0.00" min="0" step="0.1"
                            required />
                    </div>
                    <div class="input-container flex column">
                        <label for="price">Preço de venda (R&dollar;)</label>
                        <input type="number" th:field="*{price}" id="price" name="price" value="0.00" min="0" step="0.1"
                            required />
                    </div>
                </div>
                <div class="form-row">
                    <div class="input-container flex column">
                        <label for="description">Descrição</label>
                        <textarea id="description" th:field="*{description}" name="description" required
                            rows="3"></textarea>
                    </div>
                </div>
                <div class="form-row button-row">
                    <button type="reset" class="btn" id="cancel-btn" title="Cancelar">Limpar formulário</button>
                    <button type="submit" class="btn" id="save-btn" title="Salvar">Registrar</button>
                </div>
            </form>

        </div>
    </main>
    <th:block th:replace="~{fragments/footer :: footer}"></th:block>
    <script th:src="@{/js/tempForm.js}"></script>
    <script th:src="@{/js/app.js}"></script>
</body>

</html>