<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">

<head>
    <th:block th:replace="~{fragments/head :: head(title='Products | CoreControl')}"></th:block>
    <link rel="stylesheet" th:href="@{/css/list.css}">
    <link rel="stylesheet" th:href="@{/css/products.css}">
</head>

<body>
    <!-- Header block from thymeleaf -->
    <th:block th:replace="~{fragments/header :: header}"></th:block>
    <main style="flex:1; gap: 1rem;">
        <h2 class="list-title">Products</h2>
        <div class="product-list-container flex column">
            <div class="table-controls flex column">
                <div class="search-container">
                    <form th:action="@{filter/}" method="get" id="filter-form" class="flex gap-1">
                        <div class="search-bar">
                            <select name="filter" id="filter">
                                <option value="name" title="Filter by name">Name</option>
                                <option value="category" title="Filter by category">Category</option>
                            </select>
                            <input type="text" name="value" id="value" placeholder="Search for products">
                        </div>
                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
                <div class="add-product-container gap-1">
                    <a th:href="@{/produtos/novo}" class="btn">Add product</a>
                    <a th:href="@{/produtos/}" class="btn">Clear Filters</a>
                </div>
                <div class="clear-filter-container">
                </div>
            </div>
            <div class="products-table created-table">
                <div class="table-header">
                    <span>Id</span>
                    <span>Name</span>
                    <span>Category</span>
                    <span>Price</span>
                    <span>Profit(&percnt;)</span>
                    <span>Amount</span>
                    <span>Actions</span>
                </div>
                <div class="table-body" th:each="product : ${products}">
                    <div class="table-row">
                        <span th:text="${product.id}">1</span>
                        <span th:text="${product.name}">Product 1</span>
                        <span th:text="${product.category}">Category</span>
                        <span th:text="${product.cost}">R$ 10,00</span>
                        <span th:text="${product.profit}">10</span>
                        <span th:text="${product.stock}">10</span>
                        <div class="actions table-row-controls">
                            <a th:href="@{produto/{productId}(productId=${product.id})}">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <form th:action="@{delete/{id}(productId=${product.id})}" method="post">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit"><i class="fa-solid fa-trash"></i></button>
                            </form>

                            <!-- <a th:href="@{/produtos/delete}"><i class="fa-solid fa-trash"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Footer block from thymeleaf -->
    <th:block th:replace="~{fragments/footer :: footer}"></th:block>
    <script th:src="@{/js/app.js}"></script>
</body>

</html>