<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">

<head>
    <th:block th:replace="~{fragments/head :: head(title='Report x | CoreControl')}"></th:block>
    <link rel="stylesheet" th:href="@{/css/list.css}">
    <link rel="stylesheet" th:href="@{/css/report.css}">
</head>

<body>
    <th:block th:replace="~{fragments/header :: header}"></th:block>
    <main style="flex:1; gap:1.5rem;">
        <div class="wrapper-90">
            <h1 class="top-h">Report X</h1>
            <div class="report-info-filter-container inline-auto">
                <form action="#" id="report-info-filter-form" class="flex" method="get">
                    <div class="inf-filters flex column gap-1">
                        <div class="filter-rows flex column gap-1">
                            <div class="filter-row flex gap-1">
                                <div class="info-filter">
                                    <input type="checkbox" id="sale" name="sale" placeholder="Sale">
                                    <label for="sale">Sale</label>
                                </div>
                                <div class="info-filter">
                                    <input type="checkbox" id="purchase" name="purchase" placeholder="Purchase">
                                    <label for="purchase">Purchase</label>
                                </div>
                                <div class="info-filter">
                                    <input type="checkbox" id="create" name="create" placeholder="Creation">
                                    <laber for="create">Creation</laber>
                                </div>
                                <!-- edit -->
                                <div class="info-filter">
                                    <input type="checkbox" id="edit" name="edit" placeholder="Edit">
                                    <label for="edit">Edit</label>
                                </div>
                            </div>
                            <div class="filter-row flex gap-1">
                                <div class="info-filter">
                                    <label for="start-date">Start Date</label>
                                    <input type="date" id="start-date" name="start-date" placeholder="Start Date">
                                </div>
                                <div class="info-filter">
                                    <label for="end-date">End Date</label>
                                    <input type="date" id="end-date" name="end-date" placeholder="End Date">
                                </div>
                                <!-- Product id -->
                                <div class="info-filter">
                                    <label for="product-id">Product ID</label>
                                    <input type="text" id="product-id" name="product-id" placeholder="Product ID">
                                </div>
                                <!-- User id -->
                                <div class="info-filter">
                                    <label for="user-id">User ID</label>
                                    <input type="text" id="user-id" name="user-id" placeholder="User ID">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info-filter-submit-container">
                        <button type="submit" class="btn">Filtrar</button>
                    </div>
                </form>
            </div>
            <div class="report-info-table-container">
                <div class="report-info-table created-table">
                    <div class="table-header">
                        <span>Id</span>
                        <span>Type</span>
                        <span>Product</span>
                        <span>User</span>
                        <span>Date</span>
                        <span>Hour</span>
                    </div>
                    <div class="table-body">
                        <div class="table-row">
                            <span>1</span>
                            <span>Sale</span>
                            <span>Product 1</span>
                            <span>User 1</span>
                            <span>01/01/2021</span>
                            <span>10:00</span>
                        </div>
                        <div class="table-row">
                            <span>2</span>
                            <span>Purchase</span>
                            <span>Product 2</span>
                            <span>User 2</span>
                            <span>02/01/2021</span>
                            <span>11:00</span>
                        </div>
                        <div class="table-row">
                            <span>3</span>
                            <span>Creation</span>
                            <span>Product 3</span>
                            <span>User 3</span>
                            <span>03/01/2021</span>
                            <span>12:00</span>
                        </div>
                        <!-- edit -->
                        <div class="table-row">
                            <span>4</span>
                            <span>Edit</span>
                            <span>Product 4</span>
                            <span>User 4</span>
                            <span>04/01/2021</span>
                            <span>13:00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script th:src=" @{/js/app.js}">
    </script>
    <th:block th:replace="~{fragments/footer :: footer}"></th:block>
</body>

</html>