<header th:fragment="header" class="flex">
    <th:block th:fragment="header">
        <nav>
            <div class="nav_container hider_container">
                <i class="fa-solid fa-bars hiden_container_btn"></i>
                <ul class="nav_links hidden flex column">
                    <li><a th:href="@{/}">Home page</a></li>
                    <li><a th:href="@{/produtos/}">Manage Products</a></li>
                    <li><a th:href="@{/reports/}">Reports</a></li>
                </ul>
            </div>
        </nav>
        <div class="logo_container">
            <a th:href="@{/}"><img th:src="@{/img/logo.png}" alt="main logo"></a>
        </div>
        <div class="user_container hider_container">
            <i class="fa-solid fa-user hiden_container_btn"></i>
            <div class="user_nav hidden flex column">
                <p>Olá, <span>User</span>!</p>
                <a href="/">Perfil</a>
                <a href="/">Configurações</a>
                <a th:href="@{/login}">Logout</a>
            </div>
        </div>
    </th:block>
</header>