
.hidden {
    height: 0;
    overflow: hidden;
    width: 0;
    padding: 0;
    margin: 0;
}

img {
    object-fit: fill;
    height: 100%;
    width: 100%;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.grid{
    display: grid;
}

.wrapper-80 {
    width: 80%;
    margin-inline: auto;
}

.wrapper-90 {
    width: 90%;
    margin-inline: auto;
}

.gap-1 {
    gap: 1rem;
}

.gap-0-5 {
    gap: .5rem;
}

.align-flex-start {
    align-content: flex-start;
}