/* ################### */
/* General List styles */
/* ################### */

.created-table {
    gap: 1rem;
    width: 90%;
    margin: 0 auto;
    background-color: var(--neutral-white);
    border: 1px solid var(--primary-color);
    border-radius: var(--radius-8);
    padding: var(--padding-1);
}

.table-header>*,
.table-row>* {
    flex: 1;
}

.table-header,
.table-row {
    display: flex;
    padding: var(--padding-0-5);
    border-bottom: 1px solid var(--secondary-color);
}

.table-row:last-child {
    border-bottom: none;
}

.table-body {
    overflow-y: auto; 
}

.table-body > .table-row > .table-row-controls {
    display: flex;
    gap: 1rem;
}
