@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    --primary-color: #1F3A93;
    --primary-color-2: #0081B8;
    --secondary-color: #e7e7e7;
    --secondary-color-2: #4A4A4A;
    --acent-color: #2ECC71;
    --warning-color: #F39C12;
    --error-color: #d5220e;
    --neutral-white: #FFFFFF;
    --neutral-black: #000000;
    --venda-color: #72dd9f;
    --compra-color: #f1f113;


    --padding-0-5: .5rem;
    --padding-1: 1rem;
    --padding-1-5: 1.5rem;
    --padding-2: 2rem;
    --padding-3: 3rem;

    --radius-8: 8px;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
}

a {
    color: inherit;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

/* Header styles */
header {
    background-color: var(--primary-color-2);
    color: var(--secondary-color);
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 10vh;
    position: relative;
}

.top-h {
    border-bottom: 1px solid var(--secondary-color);
    margin-block: 1rem;
}

.logo_container {
    max-height: 100px;
    width: 50px;
    text-align: center;
}

.hiden_container_btn {
    cursor: pointer;
}

.nav_links,
.user_nav {
    position: absolute;
    background-color: var(--primary-color-2);
    padding: var(--padding-1-5);
    gap: 1rem;
}

.nav_links {
    left: 0%;
    transform: translateY(calc(53% - --padding-1-5));
    border-bottom-right-radius: var(--radius-8);
}

.user_nav {
    right: 0%;
    transform: translateY(calc(40% - --padding-1-5));
    border-bottom-left-radius: var(--radius-8);
}

.user_nav p {
    border-bottom: 1px solid var(--secondary-color);
    padding-bottom: .5rem;
}

/* Main content styles */
.cards_container {
    max-width: 1200px;
    width: 80%;
    margin-inline: auto;
    grid-template-areas: 
    "top-left top-center top-right"
"middle-left middle-center middle-right";
grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 1rem;
    padding: var(--padding-1-5);
    color: var(--neutral-white);
}

.top-left {
    grid-area: top-left;
}

.top-center {
    grid-area: top-center;
}

.top-right {
    grid-area: top-right middle-right;
}

.middle-left {
    grid-area: middle-left;
}

.notifications-container {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 3;
    overflow: hidden;
    max-height: 500px;
    /* grid-column-end: 6; */
}

.notifications-container > h3 {
    margin: 1rem;
}

.notifications-border {
    height: 85%;
    border-radius: var(--radius-8);
    overflow: hidden;
}

.notifications {
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
    border-radius: var(border-radius-8);
    max-height: 100%;
    overflow: auto;
    /* background-color: red; */
}

.notification {
    padding: .1rem;
}

.SALE > i {
    color: var(--venda-color);
}

.PURCHASE > i {
    color: var(--compra-color);
}

.estoque > i {
    color: var(--warning-color);
}

.falta > i {
    color: var(--error-color);
}

.EDIT > span{
    font-weight: 500;
}

.notification-card {
    background-color: var(--secondary-color);
    justify-content: space-around;
    color: var(--neutral-black);
    padding: var(--padding-1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.report-history-container {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

.reports-container {
    grid-template-columns: 1fr;
    gap: 10px;
    overflow: auto;
    border-block: 1px solid var(--secondary-color-2);
    padding: .2rem;
}

.reports-container::-webkit-scrollbar-track {
    scrollbar-color: var(--secondary-color-2) transparent; /* Background of the scrollbar track */
}


.reports-header,
.report {
    display: flex;
}

.reports-header span, .report span {
    flex: 1;
    padding: var(--padding-0-5);
    text-align: center;
}

.report:nth-child(even) {
    background-color: var(--neutral-white);
}

.notification_icon_container{
    width: auto;
    max-width: 150px;

    max-height: 150px;
    margin-inline: auto;
}

.table-row > * {
    /* Overflow to '...' */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notification_text > h3{
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: .5rem;
}

.report-history-container > h3 {
    text-align: start;
}
/* ******************* */
/* Product form styles */
/* ******************* */

.form-container {
    width: 100%;
    max-width: 700px;
    margin-inline: auto;
}

.form-row {
    display: flex;
    gap: 1rem;
    padding: var(--padding-0-5);
}

.input-container {
    gap: .5rem;
    width: 100%;
}

textarea#description{
    resize: none;
}

.input-container > label {
    font-weight: 500;
}

.input-container > input,
.input-container > select,
.input-container > textarea {
    width: 100%;
    padding: var(--padding-0-5);
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
}

.input-container > input:focus,
.input-container > select:focus,
.input-container > textarea:focus {
    outline: none;
    border: 2px solid var(--primary-color);
}

.input-container > input:disabled {
    background-color: var(--secondary-color);
    color: var(--secondary-color-2);
    cursor: not-allowed;
}

.button-row {
    justify-content: flex-end;
}

.btn {
    padding: var(--padding-0-5) var(--padding-1);
    border: none;
    border-radius: var(--radius-8);
    cursor: pointer;
    color: var(--neutral-white);
    background-color: var(--neutral-black);
}

.btn#cancel-btn {
    background-color: var(--error-color);
}

/* ************* */
/* Footer styles */
/* ************* */

footer {
    width: 75%;
    margin-inline: auto;
    padding: var(--padding-1-5);
    border-top: 1px solid var(--secondary-color);
}

.footer_container {
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--secondary-color-2);
}

.footer_logo {
    font-size: 2rem;
}

.footer_container > p {
    font-size: .9rem;
    color: var(--secondary-color);
}